.login-form {
    // // max-width: 300px;
    // display: flex;
    padding: 234px 16px 10px;
    // align-items: center;
    // justify-content: space-around;
    // padding-top: 39px;

}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
